{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/recipe-event.css">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="text-center itemHeader">{{ recipe.name|capitalize }}</h1>
            <hr>

            <div class="col-xs-12 col-md-6">
                <h3 class="text-left">{{ recipe.category|capitalize }}</h3>
            </div>
        </div>

        <div class="starBlock">
            <p>
                    {% for i in 1..5 %}
                       <a href="/recipe/{{ recipe.id }}/setNote/{{ i }}"> <span class="note glyphicon glyphicon-star{{ i > recipe.note ? '-empty' }}"
                              data-recipeId="{{ recipe.id }}"
                              data-note="{{ i }}">
                        </span></a>
                    {% endfor %}
            </p>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                {% if recipe.img is empty %}
                    <img src="/assets/images/recipePlaceHolder.jpg" alt="recipe without image"/>
                {% else %}
                    <img src="/assets/upload/{{ recipe.img }}" alt="{{ recipe.name }}" />
                {% endif %}
            </div>
            <div class="col-xs-12 col-md-6">
                <p class="comment"><blockquote>{{ recipe.comment }}</blockquote></p>
            </div>
        </div>

        <div>

                <a class="btn backBtn" href="/recipe" role="button"><span class="glyphicon glyphicon-chevron-left"></span> Liste des recettes</a>


            {% if recipe.url is not empty %}
                <a class="btn backBtn" href="/{{ recipe.url }}" role="button" target="_blank">Ma recette sur le web</a>
            {% elseif recipe.book is not empty %}
                <p class="text-left itemRef"><span class="bold">Référence:</span> {{ recipe.book }}</p>
            {% endif %}

        </div>

    </div>

{% endblock %}
{% block javascript %}
{% endblock %}
