{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <a class="btn backBtn" href="/recipe" role="button"><span class="glyphicon glyphicon-chevron-left"></span> Liste des recettes</a>
        <h1 class="text-center itemHeader">{{ recipe.name|capitalize }}</h1>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <h3 class="text-left">{{ recipe.category|capitalize }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                {% if recipe.img is empty %}
                    <img src="/assets/images/recipePlaceHolder.jpg" alt="recipe without image" class="img-responsive" />
                {% else %}
                    <img src="/assets/upload/{{ recipe.img }}" alt="{{ recipe.name }}" class="img-responsive" />
                {% endif %}

                {% if recipe.url is not empty %}
                    <a class="btn itemRef bold" href="{{ recipe.url }}" role="button" target="_blank">Ma recette sur le web</a>
                {% elseif recipe.book is not empty %}
                    <p class="text-left itemRef"><span class="bold">Référence:</span> {{ recipe.book }}</p>
                {% endif %}
            </div>
            <div class="col-xs-12 col-md-6">
                <p class="comment"><q>{{ recipe.comment }}</q></p>
            </div>
        </div>
    </div>

{% endblock %}
