{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <h1 class="text-center itemHeader">{{ event.name }}</h1>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <p class="comment">" {{ event.comment }} "</p>
            </div>
            <div class="col-xs-12 col-md-6">
                <p class="guest"><span class="bold">Convives: </span>{{ event.guest }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <figure>
                {% if event.img is empty %}
                    <img src="/assets/images/eventPlaceHolder.jpg" alt="Image par défaut: cuisinier" class="img-responsive center-block imgEvent" />
                {% else %}
                    <img src="/assets/upload/{{ event.img }}" alt="{{ event.name }}" class="img-responsive imgEvent" />
                {% endif %}
                </figure>
            </div>
        </div>
    </div>

{% endblock %}
