{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/recipe.css">
{% endblock %}

{% block content %}
    <div class="container">


        <h1 class="text-center itemHeader">{{ event.name |capitalize }}</h1>
        <hr>


        <div class="row">
            <div class="col-xs-12 col-md-6">
                <p class="guest"><span class="bold">Cet événement a eu lieu le {{ event.date|date("d / m / Y") }}</span> </p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <figure>
                {% if event.img is empty %}
                    <img src="/assets/images/eventPlaceHolder.jpg" alt="Image par défaut: cuisinier" />
                {% else %}
                    <img src="/assets/upload/{{ event.img }}" alt="{{ event.name }}" />
                {% endif %}
                </figure>
            </div>
            <div class="col-xs-12 col-md-6">
                <p class="guest"><span class="bold">Convives: </span>{{ event.guest |capitalize }} </p>
            </div>
            <div class="col-xs-12 col-md-6">
                <p class="comment">" {{ event.comment |capitalize }} "</p>
            </div>
        </div>

        <a class="btn backBtn" href="/event" role="button"><span class="glyphicon glyphicon-chevron-left"></span> Liste des événements</a>

    </div>
    <section>
        <div class="container">
            <hr>
            <h2>Recettes associées</h2>
            <div class="row">
                {% if showRecipes is empty %}
                    <h4>Aucune recette à afficher</h4>
                {% else %}
                    {% for recipe in showRecipes %}
                        {% include 'thumb-recipe.html.twig' %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}
