{% extends 'Admin/admin_layout.html.twig' %}

{% block content %}

    <div class="container">
        <h1>Ajouter un événement</h1>
        {% if errors is not empty %}
            <div class="alert alert-danger">{{ errors }}</div>
        {% endif %}
        <form method="post" action="">
            <div class="form-group">
                <label for="name">Nom événement</label>
                <input type="name" class="form-control" id="name" name="name" value="{{ post.name }}"
                       placeholder="ex: Boeuf Bourguignon">
            </div>
            <div class="form-group">
                <label for="date">La date de l'événement : </label>
                <input type="date" name="date" min="1900-01-01">
            </div>
            <div class="form-group">
                <label for="img">Ajouter lien image</label>
                <input type="name" class="form-control" id="img" name="img" value="{{ post.img }}"
                       placeholder="ex: lien.com/image.png">
            </div>
            <div class="form-group">
                <label for="guest">Convives</label>
                <input type="name" class="form-control" id="guest" name="guest" value="{{ post.guest }}"
                       placeholder="ex: La cuisine française (Jean Bon, édition Miam) p.45 / Cuisine magazine n°34 p.22">
            </div>
            <div class="form-group">
                <label for="comment">Commentaire</label>
                <textarea class="form-control" id="comment" name="comment" rows="5">{{ post.comment }}</textarea>
            </div>
            <button type="submit" class="btn">Ajouter recette</button>
        </form>
    </div>
{% endblock %}