{% extends 'Admin/admin_layout.html.twig' %}

{% block content %}

    <div class="container">
        <h1>Ajouter recette</h1>
        {% if errors is not empty %}
            <div class="alert alert-danger">{{ errors }}</div>
        {% endif %}
        <form method="post" action="" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Recette nom</label>
                <input type="name" class="form-control" id="name" name="name" value="{{ post.name }}" placeholder="Nom recette">
            </div>
            <div class="form-group">
                <label for="category_id">Catégorie</label>
                <select class="form-control" id="categoryId" name="categoryId">
                    {% for category in categories %}
                        <option value="{{ category.id }}"> - {{ category.name|capitalize }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="ref_book">Ajouter lien image</label>
                <input type="name" class="form-control" id="img" name="img" value="{{ post.img }}" placeholder="Référence livre">
            </div>
            <div class="form-group">
                <label for="ref_book">Référence livre / magazine</label>
                <input type="name" class="form-control" id="book" name="book" value="{{ post.ref_book }}" placeholder="Référence livre">
            </div>
            <div class="form-group">
                <label for="ref_url">Référence site</label>
                <input type="name" class="form-control" id="url" name="url" value="{{ post.ref_url }}" placeholder="Référence site">
            </div>
            <div class="form-group">
                <label for="comment">Commentaire</label>
                <textarea class="form-control" id="comment" name="comment" rows="5">{{ post.comment }}</textarea>
            </div>
            <button type="submit" class="btn">Ajouter recette</button>
        </form>
    </div>
{% endblock %}
