<div class="col-xs-12 col-sm-6 col-md-4 text-center">
    <figure class="thumbnail">
        {% if recipe.img is empty %}
        <img src="/assets/images/recipePlaceHolder.jpg" alt="recipe without image" class="">
        {% else %}
        <img src="/assets/upload/{{ recipe.img }}" alt="{{ recipe.name }}" class="">
        {% endif %}
        <figcaption class="caption">
            <h3><a href="/admin/recipe/{{ recipe.id }}">{{ recipe.name }}</a></h3>
            <p>{{ recipe.category |capitalize  }}</p>
            <button type="button" class="btn btnBlack" data-toggle="modal" data-target="#unlinkRecipeModal{{ recipe.id }}">
                <span class="glyphicon glyphicon-resize-full"></span>  Ne plus associer
            </button>

            <!-- unlinkRecipeModal -->
            <div class="modal fade" id="unlinkRecipeModal{{ recipe.id }}" tabindex="-1" role="dialog" aria-labelledby="unlinkRecipeModalLabel{{ recipe.id }}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="unlinkRecipeModalLabel{{ recipe.id }}">Suppression du lien</h4>
                        </div>
                        <div class="modal-body">
                            Êtes-vous sûr de vouloir supprimer le lien entre l'événement: " {{ event.name }} " et la recette: " {{ recipe.name }} " ?
                        </div>
                        <div class="modal-footer">
                            <form action="/admin/event/unlinkRecipeFromEvent" method="POST">
                                <input type="hidden" name="eventId" value="{{ event.id }}">
                                <input type="hidden" name="recipeId" value="{{ recipe.id }}">
                                <button type="button" class="btn" data-dismiss="modal">Retour</button>
                                <button type="submit" class="btn">Supprimer le lien</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </figcaption>
    </figure>
</div>


