<div class="col-xs-12 col-sm-6 col-md-4 text-center">
    <figure class="thumbnail">
        {% if event.img is empty %}
            <img src="/assets/images/eventPlaceHolder.jpg" alt="recipe without image">
        {% else %}
            <img src="/assets/upload/{{ event.img }}" alt="{{ event.name }}">
        {% endif %}
        <figcaption class="caption">
            <h3><a href="/admin/event/{{ event.id }}">{{ event.name }}</a></h3>
            <p>Le {{ event.date |date("d/m/Y")}}</p>
            <button type="button" class="btn btnBlack" data-toggle="modal" data-target="#unlinkEventModal{{ event.id }}">
                <span class="glyphicon glyphicon-resize-full"></span>  Ne plus associer
            </button>

            <!-- unlinkEventModal -->
            <div class="modal fade" id="unlinkEventModal{{ event.id }}" tabindex="-1" role="dialog" aria-labelledby="unlinkEventModalLabel{{ event.id }}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="unlinkEventModalLabel{{ event.id }}">Suppression du lien</h4>
                        </div>
                        <div class="modal-body">
                            Êtes-vous sûr de vouloir supprimer le lien entre l'événement: " {{ event.name }} " et la recette: " {{ recipe.name }} " ?
                        </div>
                        <div class="modal-footer">
                            <form action="/admin/event/unlinkEventFromRecipe" method="POST">
                                <input type="hidden" name="eventId" value="{{ event.id }}">
                                <input type="hidden" name="recipeId" value="{{ recipe.id }}">
                                <button type="button" class="btn" data-dismiss="modal">Retour</button>
                                <button type="submit" class="btn">Supprimer le lien</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </figcaption>
    </figure>
</div>
