<div class="col-xs-12 col-sm-6 col-md-4">
    <a href= "/event/{{ event.id }}"><figure class="thumbnail">
        {% if event.img is empty %}
            <img src="assets/images/popartcook.jpg" alt="recipe without image" class="">
        {% else %}
            <img src="assets/images/{{ event.img }}" alt="{{ event.name }}" class="">
        {% endif %}
        <figcaption class="caption">
            <h3>{{ event.name }} Event name</h3>
            <p>{{ event.date }} Event date</p>
        </figcaption>
        </figure></a>
</div>
