<div class="col-xs-12 col-sm-6 col-md-4">
    <a href="event/{{ event.id }}">
        <figure class="thumbnail">
            {% if event.img is empty %}
                <img src="assets/images/eventPlaceHolder.jpg" alt="recipe without image" class="">
            {% else %}
                <img src="assets/upload/{{ event.img }}" alt="{{ event.name }}" class="">
            {% endif %}
            <figcaption class="caption">
                <h3>{{ event.name |capitalize }}</h3>
                <p>Le {{ event.date |date("d/m/Y")}}</p>
            </figcaption>
        </figure>
    </a>
</div>
