<div class="col-xs-12 col-sm-6 col-md-4">
    {{ dump(recipe) }}
   <a href= "/recipe/{{ recipe.id }}"><figure class="thumbnail">
        {% if recipe.img is empty %}
        <img src="assets/images/thumbtest3.jpg" alt="recipe without image" class="">
        {% else %}
        <img src="assets/upload/{{ recipe.img }}" alt="{{ recipe.name }}" class="">
        {% endif %}
        <figcaption class="caption">
            <h3>{{ recipe.name }}</h3>
            <p>{{ recipe.category }}</p>
        </figcaption>
       </figure></a>
</div>
