{% for recipe in recipes %}
    <div class="media col-xs-12">
        <div class="media-left">
            <a href="/admin/recipe/{{ recipe.id }}">

                {% if recipe.img is empty %}
                    <img class="media-object" src="/assets/images/recipePlaceHolder.jpg" alt="Image par défaut d'une recette: pizza pop art">
                {% else %}
                    <img class="media-object" src="/assets/upload/{{ recipe.img }}" alt="{{ recipe.name }}">
                {% endif %}

            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{ recipe.name |capitalize }}</h4>
            <p>{{ recipe.category |capitalize }}</p>
            <button type="button" class="btn pull-right linkBtn" data-recipeId="{{ recipe.id }}"><span class="glyphicon glyphicon-resize-small"></span>  Associer</button>
        </div>
    </div>
{% endfor %}
{% block javascript %}
    <script src="/assets/js/linkRecipesToOneEvent.js"></script>
{% endblock %}