{% extends 'Admin/admin_layout.html.twig' %}

{% block content %}
    <div class="container">
        <h1 class="text-center itemHeader">{{ event.name }}</h1>
        <div class="row">

            <div class="col-xs-12 col-md-12">
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                    Supprimer cet événement
                </button>
            </div>

            <div class="col-xs-12 col-md-6">            
                <p class="comment">" {{ event.comment }} "</p>
            </div>
            <div class="col-md-6">
                <p class="guest"><span class="bold">Convives: </span>{{ event.guest }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <figure>
                    {% if event.img is empty %}
                        <img src="/assets/images/eventPlaceHolder.jpg" alt="Image par défaut: cuisinier" class="img-responsive center-block imgEvent" />
                    {% else %}
                        <img src="/assets/upload/{{ event.img }}" alt="{{ event.name }}" class="img-responsive imgEvent" />
                    {% endif %}
                </figure>
            </div>
        </div>

        <!-- MODAL -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Suppression de l'événement</h4>
                    </div>
                    <div class="modal-body">
                        Êtes-vous sûr de vouloir supprimer cet événement ?
                    </div>
                    <div class="modal-footer">
                        <form action="/event/delete" method="POST">
                            <input type="hidden" name="id" value="{{ event.id }}">
                            <button type="button" class="btn" data-dismiss="modal">Retour</button>
                            <button type="submit" class="btn">Supprimer l'événement</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
