{% extends 'Admin/admin_layout.html.twig' %}

{% block content %}
    <div class="container">
        <h1 class="text-center itemHeader">{{ event.name }}</h1>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn  btn-lg" data-toggle="modal" data-target="#myModal">
                    Associer une recette
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <p class="comment">" {{ event.comment }} "</p>
            </div>
            <div class="col-xs-12 col-md-6">
                <p class="guest"><span class="bold">Convives: </span>{{ event.guest }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <figure>
                    {% if event.img is empty %}
                        <img src="/assets/images/eventPlaceHolder.jpg" alt="Image par défaut: cuisinier" class="img-responsive center-block imgEvent" />
                    {% else %}
                        <img src="/assets/upload/{{ event.img }}" alt="{{ event.name }}" class="img-responsive imgEvent" />
                    {% endif %}
                </figure>
            </div>
        </div>
        <!-- MODAL -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Sélectionnez la recette à associer à l'événement: {{ event.name }}</h4>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="" id="formFindRecipe">
                            <div class="form-group">
                                <label for="findRecipe">Entrez le nom de la recette à associer:</label>
                                <input type="text" name="findRecipe" id="findRecipe" class="form-control"
                                       placeholder="Quelle recette cherchez-vous?">
                            </div>
                            <div class="form-group">
                                <label for="categoryId">Ou selectionnez une catégorie de recette:</label>
                                    <select id="categoryId" name="categoryId" class="form-control">
                                        <option value="" selected>Toutes</option>
                                        {% for category in categories %}
                                            <option value="{{ category.id }}">{{ category.name }}</option>
                                        {% endfor %}
                                    </select>
                            </div>
                        </form>
                        <div class="row" id="list" data-eventId="{{ event.id }}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <form action="/recipe/delete" method="POST">
                            <input type="hidden" name="id" value="{{ recipe.id }}">
                            <button type="button" class="btn" data-dismiss="modal">Retour</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascript %}
<script src="/assets/js/searchRecipeToLink.js"></script>
    <script src="/assets/js/linkRecipesToOneEvent.js"></script>
{% endblock %}